<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884423680795-bl05i5b3c4k658g7s016cong1pcg80ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884423680795-bl05i5b3c4k658g7s016cong1pcg80ut</string>
	<key>API_KEY</key>
	<string>AIzaSyA7w2peL6_HL571R5vq9-QJsQubrMQNIfY</string>
	<key>GCM_SENDER_ID</key>
	<string>884423680795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asteriasmoons.LystariaDev</string>
	<key>PROJECT_ID</key>
	<string>lystaria</string>
	<key>STORAGE_BUCKET</key>
	<string>lystaria.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884423680795:ios:e4c36afefc57ccf4fe69be</string>
</dict>
</plist>