<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This is so we are able to transcribe your voice note into text</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This is so that we can let you record your note into the note field</string>
	<key>UIAppFonts</key>
	<array>
		<string>LilyScriptOne-Regular.ttf</string>
	</array>
</dict>
</plist>
