<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_BOOKS_API_KEY</key>
	<string>$(GOOGLE_BOOKS_API_KEY)</string>
	<key>API_NINJAS_KEY</key>
	<string>$(API_NINJAS_KEY)</string>
	<key>GROQ_API_MODEL</key>
	<string>$(GROQ_API_MODEL)</string>
	<key>GROQ_API_KEY</key>
	<string>$(GROQ_API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.884423680795-bl05i5b3c4k658g7s016cong1pcg80ut</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LilyScriptOne-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
