//
//  Secrets.xcconfig
//  Lystaria
//
//  Created by Asteria Moon on 3/17/26.
//

GOOGLE_BOOKS_API_KEY=AIzaSyA0UNj81AtfdL5ai6_KDBKjDJrb01eV438

GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant

API_NINJAS_KEY=3VBHKRNx7Be9tAp0hxbYO3f7i9JvINoVUVcd8geO
