//
//  Secrets.xcconfig
//  Lystaria
//
//  Created by Asteria Moon on 3/17/26.
//

GOOGLE_BOOKS_API_KEY=AIzaSyA0UNj81AtfdL5ai6_KDBKjDJrb01eV438

GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant

API_NINJAS_KEY=l1Jel9ctycm479NJ+n7g4w==R7E0VlNkAz7NAQIy
